html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'DM Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ellipse-up {
  background: url("./images/ellipse_up.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 100px;
}

.ellipse-down {
  background: url("./images/ellipse_up.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 300px;
  transform: rotate(180deg);
  margin-bottom: 5rem;
}

.contributors {
	 display: flex;
	 flex-wrap: wrap;
	 padding-top: 3rem;
	 justify-content: center;
}
 .contributors .contributor {
	 list-style-type: none;
	 width: 70px;
	 height: 70px;
	 position: relative;
	 margin: 1.2rem;
}
 .contributors .contributor:hover .contributor-info {
	 visibility: visible;
	 opacity: 1;
}
 .contributors .contributor img {
	 width: 70px;
	 height: 70px;
	 border-radius: 50%;
}
 .contributors .contributor .contributor-info {
	 width: 190px;
	 height: 240px;
	 background: white;
	 box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
	 border-radius: 2px;
	 position: absolute;
	 top: -30px;
	 left: -45px;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 transition: all 0.3s ease;
	 opacity: 0;
	 visibility: hidden;
	 z-index: 9;
}
 .contributors .contributor .contributor-info b {
	 font-weight: manrope-bold;
	 margin: 15px 0 8px;
	 line-height: 19px;
	 font-size: 14px;
}
 .contributors .contributor .contributor-info span {
	 font-family: ibm-plex-mono;
	 line-height: 15px;
	 font-size: 12px;
	 color: #9299a3;
	 text-align: center;
	 padding: 0 10px;
	 height: 15px;
	 max-width: 100%;
}
 .contributors .contributor .contributor-info ul {
	 list-style-type: none;
	 display: flex;
	 margin: 25px 0 0 0;
	 padding: 0;
}
 .contributors .contributor .contributor-info ul li a {
	 margin: 0 10px;
}
 .contributors .contributor .contributor-info ul li a img {
	 width: 26px;
	 height: 26px;
}
 
.center {
    display: flex;
	justify-content: center;
}

.mobile-nav {
	display: none;
}

.mobile-nav-menu {
	background:white;
	box-shadow: 0px 2px 14px rgba(9, 9, 9, 0.25);
	border-radius: 4px;
	position: absolute;
	padding: 1rem;
	flex-direction: column;
	width: 90%;
	z-index: 2;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: 1rem;
}

.mobile-nav-menu ul{
	list-style: none;
	position: relative;
}

.padding-top-20 {
	padding-top: 20px;
}

.event-bg {
	background-image: url("./images/event.png");
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%
}

.content-bg {
	background-image: url("./images/content.png");
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%
}

.community-bg {
	background-image: url("./images/community.png");
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%
}

.technical-bg {
	background-image: url("./images/technical.png");
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%
}


@media screen and (min-width: 1025px) {
  .carousel-display{
	display: none;
  }
}


@media screen and (max-width: 1024px) {
  .box-display{
    display: none !important;
  }
  .carousel-center ul{
	  padding-left: 0;
	  padding-top: 2rem;
  }

  ul{
	  padding-left: 0;
  }
}


@media screen and (max-width: 900px) {
	.mobile-nav {
		display: flex;
		align-items: center;
		width: calc(100% - 20px);
	}

	.mobile-logo {
		margin: 1rem 30vw 1rem 2rem;;
	}

	.mobile-menu {
		position: absolute;
		right: 3rem;
		border: none;
		background: none;
	}

	.mobile-menu:focus {
		outline:0;
	}

}



@media screen and (max-width: 767px) {

	.ellipse-down {
		height: 200px;
		margin-bottom: 3rem;
	}

	.center {
		margin-top: 2rem;
	}

}