body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 'DM Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ellipse-up {
  background: url("./images/ellipse_up.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}

.ellipse-down{
  background: url("./images/ellipse_down.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}